--- 
title: 王钰坤博客首页 
---
<!DOCTYPE html>
<html>
	<head>
		<title>王钰坤博客首页</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{{ site.url }}/assets/main/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{{ site.url }}/assets/main/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="{{ site.url }}/assets/main/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.url }}/assets/main/css/ie8.css" /><![endif]-->
	</head>
	<style>
	body::-webkit-scrollbar{
		display: none;
	}	
	</style>

	<body>		
		<!-- Sidebar -->
			<section id="sidebar" class="custom-scroll-4" style="height:85vh">
				<div class="inner">
					<nav >
						<ul>
							<li><a href="#intro">首页</a></li>
							{% for category in site.categories %}
							<li><a href="#{{ category | first }}">{{ category | first }}</a></li>
							{% endfor %}
						</ul>
					</nav>
				</div>
			</section>

			<!-- Wrapper -->
			<div id="wrapper">

					<!-- Intro -->
					<section id="intro" class="wrapper style fullscreen fade-up">
						<div class="inner">
							<h1>欢迎您</h1>
							<p>此网站为王钰坤的个人博客，主要记录编程开发知识。有JAVA、数据库、大数据等。。。
							<ul class="actions">
								<li><a href="#java" class="button scrolly">Learn more</a></li>
							</ul>
						</div>
					</section>
					{% for category in site.categories %}
					<section id="{{ category | first }}"

					{% cycle 'class="wrapper style1 fade-up"', 'class="wrapper style2 fade-up"', 'class="wrapper style3 fade-up"' %}
					>
						<div class="inner">
							<h2>{{ category | first }}</h2>
							<div class="features">
								{% for post in category.last %}
								<section>
									<span class="icon major fa-code"></span>
									<h3><a href="{{ post.url }}" style="border-bottom:none">{{ post.title }}</a></h3>
								</section>
								{% endfor %}
							</div>
						</div>
					</section>
					{% endfor %}
			</div>

		
			<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt" style="text-align:center">
				<div class="inner">
					<ul class="menu">
						<li>Copyright © By-WangYuKun, All Rights Reserved</li>
					</ul>
				</div>
			</footer>

			<!-- Scripts -->
			<script src="{{ site.url }}/assets/main/js/jquery.min.js"></script>
			<script src="{{ site.url }}/assets/main/js/jquery.scrollex.min.js"></script>
			<script src="{{ site.url }}/assets/main/js/jquery.scrolly.min.js"></script>
			<script src="{{ site.url }}/assets/main/js/skel.min.js"></script>
			<script src="{{ site.url }}/assets/main/js/util.js"></script>
			<!--[if lte IE 8]><script src="{{ site.url }}/assets/main/js/ie/respond.min.js"></script><![endif]-->
			<script src="{{ site.url }}/assets/main/js/main.js"></script>
			<script src="{{ site.url }}/assets/main/scroll/js/scrollbot.js" type="text/javascript"></script>
			<script  src="{{ site.url }}/assets/main/scrolljs/scrollreveal.min.js" type="text/javascript"></script>
	
	<script>


		custom4 = new scrollbot(".custom-scroll-4",10).setStyle({
			"background":"#202020",
			"z-index":"2",
			"border-radius":"50%",
			"height":"10px"
		},{
			"background":"rgba(0,0,0,0)"
		});
		var psuedo = document.createElement("div");
		psuedo.style.cssText = "height:100%;width:2px;left:4px;background:#808080;position:absolute;z-index:1";
		custom4.scrollBarHolder.appendChild(psuedo);
		

		document.onreadystatechange = function(){
			custom4.refresh();
		}

			
	</script>
	</body>
</html>