<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.url }}/assets/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/bootstrap-toc.min.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/gh-fork-ribbon.min.css" />
    <link rel="stylesheet" href="{{ site.url }}/assets/screen.css" media="screen" charset="utf-8">
    <script src="{{ site.url }}/assets//jquery-2.1.4.min.js"></script>
    <script src="{{ site.url }}/assets/bootstrap.min.js" ></script>
    <script src="{{ site.url }}/assets/bootstrap-toc.min.js"></script>
  </head>
<body data-spy="scroll" data-target="#toc">
	{{ page.title }}
  <div class="container">
    <div class="row">
      <!-- sidebar, which will move to the top on a small screen -->
      <div class="col-lg-3">
        <nav id="toc" data-toggle="toc" data-spy="affix"></nav>
      </div>
      <!-- main content area -->
         <div class="col-lg-9">
         {{ content }}
      </div>
    </div>
	<footer>
		作者QQ:1138014562有事可联系，版权归作者王钰坤所有
    </footer>
  </div>
</body>
</html>
